.tab-border {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10;
}
.icon-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
    -fx-background-radius: 8;
    -fx-padding: 5 10;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}   
.nameFD-button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.details-button {
     -fx-background-color: transparent;
     -fx-font-size: 13px;
     -fx-cursor: hand;
}
.image-view {
    -fx-background-color: white;
        -fx-background-radius: 15;
        -fx-border-radius: 15;
        -fx-border-color: white;
        -fx-border-width: 2px;
        -fx-padding: 10;
}
.view-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
    -fx-background-radius: 8;
    -fx-padding: 1 7;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}

.view-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
    -fx-background-radius: 8;
    -fx-padding: 1 7;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}

