.icon-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
    -fx-background-radius: 8;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.icon-button:hover {
    -fx-background-color: lightgray;
}

.text-field, .menu-button {
    -fx-background-radius: 10;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-border-color: #ddd;
    -fx-padding: 5;
}

.border-pad {
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-border-color: black;

}

.text-filter {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
